<form id="frmEdit">
    <table>
        <tr>
            <td>课程名</td>
            <td><input type="text" name="course_name" id="course_name" value="{{course_name}}"></td>
        </tr>
        <tr>
            <td>作者</td>
            <td><input type="text" name="author" id="author" value="{{author}}"></td>
        </tr>
        <tr>
            <td>大学</td>
            <td><input type="text" name="college" id="college" value="{{college}}"></td>
        </tr>
        <tr>
            <td>分类</td>
            <td>
                <select name="category_Id" id="category_Id" value="{{category_Id}}">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </td>
        </tr>
    </table>
</form>